<?xml version="1.0" encoding="UTF-8"?>
<server description="MicroProfile Server">
    <!-- Habilitar solo la característica principal de MicroProfile -->
    <featureManager>
        <feature>microProfile-5.0</feature>

        <feature>jdbc-4.2</feature>


    </featureManager>

    <!-- Configuración del servidor HTTP -->
    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443" />

    <!-- Configuración de seguridad básica -->
    <basicRegistry id="basic" realm="MicroProfileRealm">
        <user name="admin" password="admin123" />
    </basicRegistry>

    <!-- Configuración de la aplicación Web -->
    <webApplication id="com.microprofile" location="com.microprofile.war" contextRoot="/com.microprofile">
        <classloader apiTypeVisibility="+third-party" />
    </webApplication>

    <!-- Configuración de logs -->
    <logging traceSpecification="com.microprofile.*=info" />

    <!-- Biblioteca del driver MySQL -->
    <library id="MySQLLib">
        <fileset dir="${server.config.dir}/lib" includes="mysql-connector-java-*.jar" />
    </library>

    <!-- Configuración para monitoreo y métricas -->
    <mpMetrics authentication="false" />
    <mpOpenAPI />
</server>
